{% extends "base.html" %}


{% block content %}

                <div class="panel static-panel panel-default">
                    <div class="panel-body">
                        <h1 class="centered">{{ title }}</h1>
                        <hr>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-2">
                                    <i class="fa fa-envelope-o envelope-icon"></i>
                                </div>
                                <div class="col-lg-9" style="margin-top: 30px;">
                                    <p>MailBeaker is a cloud service that protects your inbox from phishing attacks.</p>
                                    <p>Your organization's IT administrator has asked us to block access to this website. To keep you safe, we've prevented you from proceeding.</p><br />
                                    <p><strong>Destination:</strong> {{ domain }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        If you believe this link is legitimate, please contact your administrator for further assistance.
                    </div>
                </div>

{% endblock %}
