{% extends "base.html" %}


{% block content %}

                <div class="row">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="panel static-panel panel-default">
                            <div class="panel-body">
                                <h1 class="centered">Thank you for reporting this link.</h1>
                                <hr>
                                <div class="container">
                                    <div class="row">
                                      <p class="text-center"><strong>You may close this window.</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}
